:root {
    --color-violet: #600ab3;
    --color-yellow-green: #a6c72a;
}

body {
    font-size: 12px;
}

.text-yellow-green {
    color: var(--color-yellow-green) !important;
}

.table-transparent { --bs-table-bg: transparent !important; }

.w-50px {
    width: 50px !important;
}

.card-custom {
    border-radius: 0;
}

.card-custom > .card-header {
    background-color: var(--color-violet) !important;
    color: white;
    border-radius: 0 !important;
}

.card-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}

.card-title-custom {
    color: var(--color-violet);
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-title-custom ion-icon {
    font-size: 24px;
}

.h-50px {
    height: 50px !important;
}

.bg-violet {
    background-color: var(--color-violet);
}

.text-violet {
    color: var(--color-violet) !important;
}

.border-violet {
    border-color: var(--color-violet);
}

.w-25px {
    width: 25px !important;
}

.min-w-150px {
    min-width: 150px !important;
}

.bg-yellow-green {
    background: var(--color-yellow-green);
}

.alert-yellow-green {
    background: rgba(164, 198, 42, 0.18);
    border-color: rgba(164, 198, 42, 0.25);
    color: var(--color-yellow-green);
}

#score_restritivo_chart, #score_positivo_chart {
    width: 300px !important;
    height: 300px !important;
    background:  #fff;
}

.text-justify {
    text-align: justify !important;
}

.range {
    position: relative;
    height: 10px;
    display: inline-block;
    min-width: 100px;
    border-radius: 10px;
    background: #eee;
    text-align: center;
    color: #fff;
}
.range-success {
    background: var(--bs-success);
}
.range-yellow-green {
    background: var(--color-yellow-green);
}
.range-warning {
    background: var(--bs-warning);
}
.range-danger {
    background: var(--bs-danger);
}

.btn-violet {
    background: var(--color-violet) !important;
    color: white !important;
}

.btn-action {
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-action ion-icon {
    font-size: 20px;
    color: #fff;
}

.scroller {
    position: fixed;
    right: 20px;
    top: calc(50% - 40px);
    display: flex;
    flex-direction: column;
}

.scroller .btn:not(:last-child) {
    margin-bottom: 10px;
}

.status {
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status ion-icon {
    font-size: 30px;
}

.status-ok {
    background: var(--bs-success);
    color: white;
}

.status-error {
    background: var(--bs-danger);
    color: white;
}

.blink {
    animation: blink .7s ease-in-out infinite;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}